# ----- Web Framework -----
Flask==3.0.2

# ----- Production Server -----
gunicorn==21.2.0

# ----- HTTP Requests -----
requests==2.31.0

# ----- ML & Data Processing -----
scikit-learn==1.4.2
joblib==1.4.0
numpy==1.26.4
pandas==2.2.1

# ----- Utilities -----
python-dateutil==2.9.0.post0
